.moly_hah_hint {
    position: absolute;
    width: auto;
    height: auto;
    padding: 0px 4px;
    border: solid 0px;
    background-color: #BBF;
    opacity: 0.9;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #000;
    pointer-events: none;
    text-shadow: rgba(#FFF, 0.9) 0px 0px 1px;

    &.moly_hah_link {
        @extend .moly_hah_hint;
        background-color: #FF8;
    }

    &.moly_hah_matching {
        @extend .moly_hah_hint;
        background-color: #BFB;
    }

    &.moly_hah_not-matching {
        @extend .moly_hah_hint;
        visibility: hidden;
    }

    .moly_hah_partial_matching {
        color: #888;
    }
}
